.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Scritte */
h1, h2 {
  font-family: 'Playfair Display', serif;
}
i, b {
  color: #FF6304;
}
p {
  font-family: 'Libre Baskerville', serif;
}


/* Logo */
.homepage-logo {
  width: 200px;
  height: auto;
}
.container-homepage-logo-shadow {
  width: 200px;
  height: 10px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.homepage-logo-shadow {
  background-color: #D0C5C0ff;
  width: 80px;
  height: 10px;
  border-radius: 100% 100%;
}




.social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease-in-out;
  margin: 10px;
}

.social-icon:hover {
  transform: rotate(360deg);
}