  /* All page */
body {
  background-color: white;
  font-family: 'Spectral', serif;
}
.row {
  margin: 0;
} 
b{
  color:#FF6304;
}
hr {
  border-style: dotted none none;
  border-width: 12px;
  border-color: #FF6304;
  width: 50px;
}
h4 {
  font-family: 'Mynerve', cursive;
  color: #FF6304;
}
a {
  text-decoration: none;
  color:black;
}

    /* Navbar & Language Choice*/
header{
  margin-bottom: 80px;
}    
.navbar-brand{
  margin-left: 10px;
}

   /* Home */
.main-logo {
  width: 200px;
  height: auto; 
  margin-right: 20px;   
}

    /* Main */
.h1-name-text{
  font-family: 'Raleway', sans-serif;
  color: #FF6304;
}
.h2-slogan-text {
    font-family: 'Mynerve', cursive;
}
    /* Portfolio */
.card{
  padding: 0;
}    
    /* Contact */
.contact-mail-img {
  width: 20px;
  height: auto;
}

    /* Footer */
footer {
  font-family: 'Mynerve', cursive;
}
.footer-img-heart {
  width: 15px;
  height: auto;
}
.social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease-in-out;
  margin: 10px;
}
.social-icon:hover {
  transform: rotate(360deg);
}

    /* Tablet and Mobile */
@media (max-width: 1320px) {
}