body {
    background-color: #EEEEEE;
}

h1 {
    font-family: 'Karma', serif;
    font-size: 3.5rem;
}

h3 {
    font-family: 'Karma', serif;
    font-size: 2.2rem;
}

h6 {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.7rem;
}

p {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.3rem;    
}



.email {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.5rem; 
    color: #EEEEEE;
}

.navbar {
    background-color: #EEEEEE;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.3rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.training {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.3rem;

}

#row-title-section {
    padding-top: 150px;
    padding-bottom:20px;
}

#row-email {
    background-color: #00ADB5;
    
}


